version: '3.8' # Which version we are using

services: # List all different parts of app
  web:
    image: my-flask-app:multistage
    ports:
      - "5002:5002"
    depends_on:
      - mydb # Composes the db first, before the web service
    environment:
      - MYSQL_ROOT_PW=${MYSQL_ROOT_PW}

  mydb:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PW}